<!DOCTYPE html>
<html lang="{{ site_short_locale }}">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title ?? site_name }}</title>
    <link rel="stylesheet" href="{{ mix src='/css/site.css' }}" />
	  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans:wght@400;700&display=swap" rel="stylesheet">
	</head>
	<body class="font-sans bg-black">
		{{ template_content }}

		{{ svg src="footer-branding" class="mx-auto my-20 w-1/2 max-w-sm" }}
	</body>
</html>
