<div class="container pt-40">
  <p><a href="/" class="font-mono text-sm opacity-20 hover:opacity-50">< Home</a></p>
  <h1 class="text-white font-bold text-xl md:text-2xl lg:text-4xl my-5">
    {{ title }}
  </h1>

  <div class="font-mono text-lg leading-loose italic leading opacity-75">
    {{ description }}
  </div>

  {{ partial:hr }}
</div>

<div class="pb-40 leading-loose flex flex-col items-center">
  {{ body }}
    {{ if type == "text" }}
      <div class="container wysiwyg">
        {{ text }}
      </div>
    {{ elseif type == "code_block" }}
      <div class="flex-1 min-w-container max-w-6xl">
<pre class="overflow-auto lolight language-{{ language }} font-mono border-l border-yellow-900 rounded-sm px-5 py-4 -mx-5 my-6">
{{ if language == "javascript" }}{{ javascript }}{{ /if }}
{{ if language == "shell" }}{{ shell }}{{ /if }}
</pre>
      </div>
    {{ /if }}
  {{ /body }}
</div>

<script src="{{ mix src='/js/posts.js' }}"></script>