.wysiwyg {
	font-size: theme('fontSize.xl');
	line-height: 1.75;

	h2:not(:first-child) {
		font-size: theme('fontSize.4xl');
		margin-top: 3rem;
		margin-bottom: 1.5rem;
		font-weight: bold;
	}

	h3:not(:first-child) {
		font-size: theme('fontSize.2xl');
		margin-top: 2rem;
		margin-bottom: 1rem;
		font-weight: bold;
	}

	h4 {
		font-weight: bold;
		margin-top: 1.5rem;
	}

	a {
		color: #F8E9B9;
		text-decoration: underline;

		&:hover {
			color: #E6D4A0;
			text-decoration: line-through;
		}
	}

	p {
		margin-bottom: 1em;
	}

	ul {
		display: block;
		list-style-type: disc;
		margin-bottom: 1em;
		margin-bottom: 1 em;
		margin-left: 0;
		margin-right: 0;
		padding-left: 40px;
	}

	ol {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
	}

	li {
		margin-bottom: 0.5rem;

		:first-child { margin: 0; }
	}

	code {
		@apply font-mono bg-gray-900 rounded-sm;
	}

	pre {
		@apply flex-1 min-w-container max-w-6xl border-l border-yellow-900 bg-gray-900 overflow-auto
			-mx-5 my-6 px-5 pt-2 pb-3 rounded-sm;
		code {
			@apply pr-5 bg-transparent text-base;
		}
	}
}