.wysiwyg {
	font-size: theme('fontSize.xl');
	line-height: 1.75;

	h2:not(:first-child) {
		font-size: theme('fontSize.4xl');
		margin-top: 2em;
	}

	h3:not(:first-child) {
		font-size: theme('fontSize.2xl');
		margin-top: 2em;
	}

	p:not(:first-child) {
		margin-top: 1em;
	}

	ul {
		display: block;
		list-style-type: disc;
		margin-top: 1em;
		margin-bottom: 1 em;
		margin-left: 0;
		margin-right: 0;
		padding-left: 40px;
	}

	ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
	}

	li {
		margin-top: 0.5em;
	}

	code {
		@apply font-mono text-sm;
	}

	pre {
		@apply flex-1 min-w-container max-w-6xl border-l border-yellow-900 bg-gray-900 overflow-auto -mx-5 my-6 px-5 pt-2 pb-3 rounded-sm;
		code {
			@apply pr-5;
		}
	}
}